<div class="main container-fluid">


  <div *ngFor="let category of products.categories" class="row text-center mb-3">
    <div class="col-md-12">
      <h2 class="category-label">{{category.label}}</h2>
    </div>
    <div *ngFor="let product of category.products" class="col-md-4 text-center mb-4">
      <div class="card h-100" style="width: 18rem;">
        <img *ngIf="product.img" src="{{product.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.label}}{{product.price ? ' - ' + (product.price | currency:'BRL':true) : ''}}</h5>
          <div *ngFor="let description of product.description">
            <p class="card-text">{{description}}</p>
            <hr/>
          </div>

          <!-- Choose Quantity Button --->
          <div *ngIf="product.qtyAvailable" ngbDropdown class="d-inline-block">
            <button class="btn btn-warning" id="item" ngbDropdownToggle>{{cart[product.label] ? 'Quantidade ' + cart[product.label] : 'Eu Quero!'}}</button>
            <div ngbDropdownMenu aria-labelledby="item">
              <button class="dropdown-item"
                      *ngFor="let item of createArrayIndex(product.qtyAvailable)"
                      (click)="cart[product.label]=item; updateTotal();">{{item}}</button>
            </div>
          </div>


          <!-- If has subitems show it -->
          <div *ngFor="let subProduct of product.subProducts" class="row mb-3 text-center">
            <div class="col-md-12">
              <span class="label">{{subProduct.label}} - {{subProduct.price | currency:'BRL':true}}</span>
            </div>
            <div class="col-md-12">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-warning" id="subProduct" ngbDropdownToggle>{{cart[subProduct.label] ? 'Quantidade ' + cart[subProduct.label] : 'Eu Quero!'}}</button>
                <div ngbDropdownMenu aria-labelledby="subProduct">
                  <button class="dropdown-item"
                          *ngFor="let item of createArrayIndex(subProduct.qtyAvailable)"
                          (click)="cart[subProduct.label]=item; updateTotal();">{{item}}</button>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <!--  Refris    -->
  <div class="row justify-content-center mb-4 text-center" *ngIf="this.totalDrinksAvailable > 0">
    <div class="col-md-6">
      <div class="card h-100" >
        <div class="card-body">
          <h4 class="card-title">Escolha suas Bebidas!</h4>
          <hr/>
          <div class="container">
            <div *ngFor="let bebida of drinks.items" class="row mb-3 text-center">
              <div class="col-md-6">
                <span class="label">{{bebida.label}}</span>
              </div>
              <div class="col-md-6">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-warning" id="refrisCoca" ngbDropdownToggle>{{bebida.qtd ? 'Quantidade ' + bebida.qtd : 'Eu Quero!'}}</button>
                  <div ngbDropdownMenu aria-labelledby="refrisCoca">
                    <button class="dropdown-item"
                            *ngFor="let item of qtyAvailableDrinks"
                            (click)="bebida.qtd=item; atualizarRefrisDisponiveis();">{{item}}</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="row mb-3 text-center">
              <div class="col-md-12">
                <hr/>
                <h5 [class.error]="this.totalDrinks > this.totalDrinksAvailable">Você já escolheu {{totalDrinks}} de {{totalDrinksAvailable}} inclusos nos seus dogs.</h5>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

<!--  Observacoes    -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-group text-center">
        <label class="out-label" for="observacoes">Observações</label>
        <textarea [value]="comments" (input)="comments = $event.target.value;" class="form-control" id="observacoes" rows="3"></textarea>
      </div>
    </div>

  </div>



</div>


<!--  Pedir    -->
<footer class="footer fixed-bottom shadow">
  <div class="container">
    <div class="row">

      <div class="col-md-12 text-center line-total">
        <span>Seu total será de {{total | currency:'BRL':true}} (incluso taxa de entrega - Gama)</span>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12 text-center line-order">
        <a class="btn btn-warning btn-block btn-lg" [class.disabled]="!valid" (click)="updateOrder()" target="_blank" href="https://wa.me/5561999150301?text={{order}}">Pedir Agora via Whatsapp!</a>


      </div>

    </div>
  </div>
</footer>
