<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
  <a class="navbar-brand" href="#">{{company?.name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarNavDropdown" >
    <ul class="navbar-nav d-lg-none">
      <li *ngFor="let category of categories" class="nav-item">
        <a class="nav-link" routerLink="." fragment="header{{category.id}}" data-toggle="collapse"  [attr.data-target]="'.navbar-collapse.show'">{{category.label}}</a>
      </li>
    </ul>
  </div>


<!--  <ul class="navbar-nav mr-auto d-lg-block ">-->
<!--    <li class="nav-item dropdown ">-->
<!--      <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--        Categorias-->
<!--      </a>-->
<!--      <div class="categories-menu dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
<!--        <a *ngFor="let category of categories" class="nav-link" routerLink="." fragment="header{{category.id}}">{{category.label}}</a>-->
<!--      </div>-->
<!--    </li>-->
<!--  </ul>-->

</nav>


<div class="main container-fluid">


  <div *ngFor="let category of categories" class="row justify-content-md-center text-center mb-3">
    <div class="col-md-12">
      <a class="" data-toggle="collapse" href="#col{{category.id}}"  [attr.aria-expanded]="true"  [attr.aria-controls]="category.id">
        <h2 id="header{{category.id}}" class="category-label">{{category.label}}</h2>
      </a>
    </div>
    <div *ngFor="let product of category.products" id="col{{category.id}}" class="collapse show col-md-4 text-center mb-4">
      <div class="card h-100" style="width: 18rem;">
        <img *ngIf="product.img" src="{{product.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.label}}{{product.price ? ' - ' + (product.price | currency:'BRL':true) : ''}}</h5>
          <div *ngFor="let description of product.description">
            <p class="product-description card-text">{{description}}</p>
            <hr/>
          </div>

          <!-- Choose Quantity Button --->
          <div *ngIf="product.qtyAvailable" ngbDropdown class="d-inline-block">
            <button class="btn btn-warning" id="item" ngbDropdownToggle>{{cart[product.label]?.quantity ? 'Quantidade ' + cart[product.label]?.quantity : 'Eu Quero!'}}</button>
            <div ngbDropdownMenu aria-labelledby="item">
              <button class="dropdown-item"
                      *ngFor="let item of createArrayIndex(product.qtyAvailable)"
                      (click)="updateCart(product, item); updateTotal();">{{item}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<!--  Observacoes    -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-group text-center">
        <label class="out-label" for="observacoes">Observações</label>
        <textarea [value]="comments" (input)="comments = $event.target.value;" class="form-control" id="observacoes" rows="3"></textarea>
      </div>
    </div>

  </div>



</div>


<!--  Pedir    -->
<footer class="footer fixed-bottom shadow">
  <div class="container">
    <div class="row">

      <div class="col-md-12 text-center line-total">
        <span>Seu total será de {{total | currency:'BRL':true}} {{company?.deliveryPrice ? '(incluso taxa de entrega)' : ''}}</span>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12 text-center line-order">
        <a class="btn btn-warning btn-block btn-lg" [class.disabled]="!valid" (click)="updateOrder()" target="_blank" href="https://wa.me/{{company?.whatsappNumber}}?text={{order}}">Pedir Agora via Whatsapp!</a>


      </div>

    </div>
  </div>
</footer>
