<div class="main container-fluid">

<!--  Produtos   -->
  <div class="row line-order">

<!--    Prato 1    -->
    <div class="col-md-4 text-center mb-4">
      <div class="card h-100" style="width: 18rem;">
        <img src="../../assets/comida1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dog no Molho - R$9,99</h5>
          <p class="card-text">Molho 100% caseiro, queijo, batata palha, maionese e pão ninho.</p>
          <hr/>
          <p class="card-text">Acompanha refri: Coca ou Guaraná.</p>
          <p class="card-text">+</p>
          <p class="card-text">Maionese Tradicional, Ketchup e Maionese de Alho</p>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-warning" id="prato1" ngbDropdownToggle>{{item1 ? 'Quantidade ' + item1 : 'Eu Quero!'}}</button>
            <div ngbDropdownMenu aria-labelledby="prato1">
              <button class="dropdown-item"
                      *ngFor="let item of qtyAvailable"
                      (click)="item1=item; updateTotal();">{{item}}</button>
            </div>
          </div>



        </div>
      </div>
    </div>

<!--   Prato 2    -->
    <div class="col-md-4 text-center mb-4">
      <div class="card h-100" style="width: 18rem;">
        <img src="../../assets/comida2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dog no Molho Especial - R$11,99</h5>
          <p class="card-text">Molho 100% caseiro, salsicha recheada com queijo, pão ninho, mais queijo no pão, maionese caseira e bastante bacon (batata palha vai separada).</p>
          <hr/>
          <p class="card-text">Acompanha refri: Coca ou Guaraná.</p>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-warning" id="prato2" ngbDropdownToggle>{{item2 ? 'Quantidade ' + item2 : 'Eu Quero!'}}</button>
            <div ngbDropdownMenu aria-labelledby="prato2">
              <button class="dropdown-item"
                      *ngFor="let item of qtyAvailable"
                      (click)="item2=item; updateTotal();">{{item}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--   Bombom Uva Peq     -->
    <div class="col-md-4 text-center mb-4">
      <div class="card h-100" style="width: 18rem;">
        <img src="../../assets/comida3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bombom de Uva 140ml  - R$4,00</h5>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-warning" id="bombomPeq" ngbDropdownToggle>{{item3 ? 'Quantidade ' + item3 : 'Eu Quero!'}}</button>
            <div ngbDropdownMenu aria-labelledby="bombomPeq">
              <button class="dropdown-item"
                      *ngFor="let item of qtyAvailable"
                      (click)="item3=item; updateTotal();">{{item}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--   Bombom Uva Gd     -->
    <div class="col-md-4 text-center mb-4">
      <div class="card h-100" style="width: 18rem;">
        <img src="../../assets/comida4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bombom de Uva 220ml  - R$5,00</h5>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-warning" id="bombomGd" ngbDropdownToggle>{{item4 ? 'Quantidade ' + item4 : 'Eu Quero!'}}</button>
            <div ngbDropdownMenu aria-labelledby="bombomGd">
              <button class="dropdown-item"
                      *ngFor="let item of qtyAvailable"
                      (click)="item4=item; updateTotal();">{{item}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--   Extras   -->
  <div class="col-md-4 text-center mb-4">
    <div class="card h-100" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">Extras</h4>
        <hr/>

      <!-- Extras no Dog --->
        <div class="container">
          <div *ngFor="let extra of extras.items" class="row mb-3 text-center">
            <div class="col-md-12">
              <span class="label">{{extra.label}} - {{extra.price | currency:'BRL':true}}</span>
            </div>
            <div class="col-md-12">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-warning" id="extra" ngbDropdownToggle>{{extra.qty ? 'Quantidade ' + extra.qty : 'Eu Quero!'}}</button>
                <div ngbDropdownMenu aria-labelledby="extra">
                  <button class="dropdown-item"
                          *ngFor="let item of qtyAvailable"
                          (click)="extra.qty=item; updateTotal();">{{item}}</button>
                </div>
              </div>
            </div>
          </div>


          <div class="row mb-3 text-center">
            <div class="col-md-12">
              <hr/>
              <p class="comment">Não se preocupe, quando recebermos seu pedido, confirmaremos qual extra vai em qual dog!</p>
            </div>

          </div>

        </div>


      </div>
    </div>
  </div>
</div>

  <!--  Refris    -->
  <div class="row justify-content-center mb-4 text-center" *ngIf="this.totalDrinksAvailable > 0">
    <div class="col-md-6">
      <div class="card h-100" >
        <div class="card-body">
          <h4 class="card-title">Escolha suas Bebidas!</h4>
          <hr/>
          <div class="container">
            <div *ngFor="let bebida of drinks.items" class="row mb-3 text-center">
              <div class="col-md-6">
                <span class="label">{{bebida.label}}</span>
              </div>
              <div class="col-md-6">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-warning" id="refrisCoca" ngbDropdownToggle>{{bebida.qty ? 'Quantidade ' + bebida.qty : 'Eu Quero!'}}</button>
                  <div ngbDropdownMenu aria-labelledby="refrisCoca">
                    <button class="dropdown-item"
                            *ngFor="let item of qtyAvailableDrinks"
                            (click)="bebida.qty=item; updateAvailableDrinks();">{{item}}</button>
                  </div>
              </div>
              </div>
            </div>


            <div class="row mb-3 text-center">
              <div class="col-md-12">
                <hr/>
                <h5 [class.error]="this.totalDrinks > this.totalDrinksAvailable">Você já escolheu {{totalDrinks}} de {{totalDrinksAvailable}} inclusos nos seus dogs.</h5>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

<!--  Observacoes    -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-group text-center">
        <label class="out-label" for="observacoes">Observações</label>
        <textarea [value]="comments" (input)="comments = $event.target.value;" class="form-control" id="observacoes" rows="3"></textarea>
      </div>
    </div>

  </div>



</div>


<!--  Pedir    -->
<footer class="footer fixed-bottom shadow">
  <div class="container">
    <div class="row">

      <div class="col-md-12 text-center line-total">
        <span>Seu total será de {{total | currency:'BRL':true}} (incluso taxa de entrega - Gama)</span>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12 text-center line-order">
        <a class="btn btn-warning btn-block btn-lg" [class.disabled]="!valid" (click)="updateOrder()" target="_blank" href="https://wa.me/5561999150301?text={{order}}">Pedir Agora via Whatsapp!</a>


      </div>

    </div>
  </div>
</footer>
