.navbar
  background-color: #fec059 !important


.main
  margin-top: 100px
  margin-bottom: 200px

.card
  margin: 0 auto 10px auto
  float: none

.product-description
  white-space: pre-wrap

.line-order
  margin-bottom: 15px

  a
    margin-top: 10px

.line-total
  color: #FFFFFF
  padding-top: 5px


.out-label
  font-size: 18px
  color: #FFFFFF

.label
  font-size: 18px
  font-weight: 600

.error
  color: #dc3545

.footer
  background-color: #413d3c !important

h5
  font-size: 18px

.comment
  font-size: 12px

.category-label
  color: #FFFFFF
