<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col-lg-6 col-xs-12 text-center">
      <div class="jumbotron mt-5">
        <h1 class="display-4">Olá! 😄</h1>
        <p class="lead">
          Se você chegou até aqui é porque interessou em ter um <b>📄 Menu Online</b> para pedidos via <b>WhatsApp</b>.
        </p>

        <p class="lead">
          Sinta-se à vontade, quer você venda 🥙 alimentos, 🧶 artesanato, ✒ serviços, etc! A idéia é que possa oferecer <b>QUALQUER COISA</b>!
        </p>

        <p class="lead">
          Meu nome é Flávio Mendes estou sempre procurando um jeito de simplificar a vida das pessoas. Se quer saber um pouco do que me motiva a fazer coisas de graça você pode ler esse texto (em inglês) <a target="_blank" href="https://flaviojmendes.github.io/why-do-i-develop-free-stuff/">aqui</a>.
        </p>
        <hr class="my-4">

        <p class="lead">
          Ao que interessa, meu intuito com essa plataforma é ajudar o pequeno comerciante que atua via WhatsApp.
        </p>

        <p class="lead">
          Baseado em um relato, percebi que muito tempo é perdido até que o cliente escolha o que quer, e pensei:
        </p>

        <p class="lead">
          <b>💡<i> Por que não deixar o cliente gastar o tempo que quiser escolhendo, e quando souber enviar tudo prontinho pelo WhatsApp?</i></b>
        </p>

        <p class="lead">
          A idéia é ser <b>BEM SIMPLES!</b> Nada de complexidade, pois já existem plataformas que fazem isso e requerem muito tempo pra configurar.
        </p>

        <p class="lead">
          Estou fazendo tudo sozinho, então pode ser que ocorram <b>🐛 bugs</b>, mas não se preocupe, me mande um email com o que está acontecendo que eles serão consertados!
        </p>

        <hr class="my-4">

        <p>Para cadastrar seu negócio, basta clicar no botão abaixo e usar sua conta do Google para login:</p>
        <a class="btn btn-warning btn-lg" routerLink="my/profile" role="button">Quero me cadastrar!</a>

        <hr class="my-4">

        <p class="lead">
          Ficou com alguma dúvida? Tem alguma sugestão?
        </p>

        <p class="lead">
          Me manda um email em <a href="mailto:flaviojmendes@gmail.com">flaviojmendes@gmail.com</a> que eu te ajudo!
        </p>

        <p class="lead">
          Abraços,
        </p>
      </div>
    </div>
  </div>
</div>
