<div class="main container">

<!--  Produtos   -->
  <div class="row linha-pedir">

<!--    Prato 1    -->
    <div class="col-md-4 text-center mb-4">
      <div class="card h-100" style="width: 18rem;">
        <img src="../../assets/comida1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dog no Molho - R$9,99</h5>
          <p class="card-text">Molho 100% caseiro, queijo, batata palha, maionese e pão ninho.</p>
          <p class="card-text">Acompanha refri: Coca ou Guaraná.</p>
          <p class="card-text">+</p>
          <p class="card-text">Maionese Tradicional, Ketchup e Maionese de Alho</p>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-warning" id="prato1" ngbDropdownToggle>{{item1 ? 'Quantidade ' + item1 : 'Eu Quero!'}}</button>
            <div ngbDropdownMenu aria-labelledby="prato1">
              <button class="dropdown-item"
                      *ngFor="let item of qtdDisponivel"
                      (click)="item1=item; atualizarValor();">{{item}}</button>
            </div>
          </div>



        </div>
      </div>
    </div>

<!--   Prato 2    -->
    <div class="col-md-4 text-center mb-4">
      <div class="card h-100" style="width: 18rem;">
        <img src="../../assets/comida2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dog no Molho Especial - R$11,99</h5>
          <p class="card-text">Molho 100% caseiro, salsicha recheada com queijo, pão ninho, mais queijo no pão, maionese caseira e bastante bacon (batata palha vai separada).</p>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-warning" id="prato2" ngbDropdownToggle>{{item2 ? 'Quantidade ' + item2 : 'Eu Quero!'}}</button>
            <div ngbDropdownMenu aria-labelledby="prato2">
              <button class="dropdown-item"
                      *ngFor="let item of qtdDisponivel"
                      (click)="item2=item; atualizarValor();">{{item}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>


  <!--   Extras   -->
  <div class="col-md-4 text-center mb-4">
    <div class="card h-100" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">Extras</h4>
        <hr/>
        <h5 >Bombom de Uva - R$4,00</h5>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-warning" id="extras" ngbDropdownToggle>{{item3 ? 'Quantidade ' + item3 : 'Eu Quero!'}}</button>
          <div ngbDropdownMenu aria-labelledby="prato2">
            <button class="dropdown-item"
                    *ngFor="let item of qtdDisponivel"
                    (click)="item3=item; atualizarValor();">{{item}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Observacoes    -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-group text-center">
        <label class="out-label" for="observacoes">Observações</label>
        <textarea [value]="observacoes" (input)="observacoes = $event.target.value;" class="form-control" id="observacoes" rows="3"></textarea>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12 text-center linha-total">
      <h2>Seu total será de {{total | currency}}</h2>
    </div>
  </div>

<!--  Pedir    -->
  <div class="row">

    <div class="col-md-12 text-center linha-pedir">
      <a class="btn btn-warning btn-block btn-lg" (click)="atualizarPedido()" target="_blank" href="https://wa.me/5561999150301?text={{pedido}}">Pedir Agora via Whatsapp!</a>


    </div>

  </div>


</div>
