.main
  margin-top: 100px
  margin-bottom: 200px

.card
  margin: 0 auto 10px auto
  float: none

.linha-pedir
  margin-bottom: 15px

  a
    margin-top: 10px

.linha-total
  color: #FFFFFF
  padding-top: 5px


.out-label
  font-size: 18px
  color: #FFFFFF

.label
  font-size: 18px
  font-weight: 600

.erro
  color: #dc3545

.rodape
  background-color: #413d3c !important

h5
  font-size: 18px

.observacao
  font-size: 12px
